
 
* {
	margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

body{
background-color:  #FBFBFB;
min-height: 100vh;
    }

.info-l{
	color: #111111;
	font-size: 15px;
	margin-top: 2vh;
	margin-left: 15px;
	margin-right: 0px;
	}
	
div.cont-o-img{
	background-color: #F5F5F5;
	background-image: url("4.jpg");
	background-position: center center;
	background-size: 60px 60px;
	background-repeat: no-repeat;
	border: 0px solid black;
	border-radius: 100px;
	float: left;
	height: 60px;
	margin-top: 15px;
	margin-left: 4.5vw;
	width: 60px;
	}
	
.img-p{
	border: 0px solid #B33DCC;
	border-radius: 100px;
	height: 58px;
	width: 58px;
	}
	
div.cont-name{
	background-color: transparent;
	border: 0px solid black;
	color: black;
	font-size: 17px;
	float: left;
	height: 50px;
	margin-top: 15px;
	margin-left: 4vw;
	padding-top: 20px;
	padding-left: 1.5px;
	width: 58vw;
	}
	
div.icono1{
	background-color: transparent;
	background-image: url("img-p.jpg");
	background-position: center center;
	background-size: 45px 45px;
	background-repeat: no-repeat;
	border: 0px solid black;
	border-radius: 10px;
	float: left;
	height: 45px;
	margin-top: 23px;
	margin-left: 2.5vw;
	padding-top: 0px;
	padding-left: 0px;
	width: 45px;
	}	
	
div.contenedor-foto{
	background-color: #F9F9F9;
	background-image: url("8.jpg");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 3px solid #D8EFEF;
	border-radius: 10px;
	height: 40vh;
	margin-top: 10vh;
	margin-left: 3vw;
	margin-right: 3vw;
	width: 94vw;
	}
	
div.contenedor-rojo{
	background-color: #D30B41;
	background-image: url(".jpg");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 0px solid #D8EFEF;
	border-radius: 10px;
	height: 7vh;
	margin-top: 1vh;
	margin-left: 3vw;
	margin-right: 3vw;
	width: 94vw;
	}	
	
.texto-r-b{
	color: #fff;
	font-size: 10.5px;
	text-align: center;
	padding-top: 18px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-botom: 5px;
	}